<html lang="en">
<head>
    <%-include('./partials/head.ejs') %> 

</head>
<body>
    <%-include('./partials/nav.ejs') %> 
    
    <h1>404 Not Found :(</h1>

    <%-include('./partials/scripts.ejs') %> 
</body>
</html>