<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('./partials/head.ejs') %> 
    <link rel="stylesheet" href="/css/create-game.css">

    <title>Document</title>
</head>
<body>
    <%-include('./partials/nav.ejs') %> 

    <header class="title">
        <div>
            <h2>Create Game</h2>
        </div>
    </header>
    <div class="container">
        <div id="error">
            <!-- Errors will be placed here -->
        </div>

        <form class="create-kahoot">
            <div>
                <div class="mb-3">
                    <label for="title-input">Title</label>
                    <input id="title-input" type="text" class="form-control" placeholder="Title">
                </div>
                <div class="mb-3">
                    <label for="description-input">Description</label>
                    <input id="description-input" type="text" class="form-control" placeholder="Description">
                </div>
            </div>
                
            <div class="questions mb-3">
                <div id='0'></div>
                <div class="question mb-3" id='1'>
            
                    <label for="question">Question: 1</label>
                    <div class="input-group mb-3">
                        <input id="question" type="text" class="form-control" placeholder="Question">
                        <button class="btn btn-danger" id="remove-specific" value="1">Remove</button>
                    </div>
            
                    <div id="answers" class="answers">
                        <label for="answers">Answers</label>
                        <div class="input-group mb-3" id="radio-control">
                            <input type="text" class="form-control" placeholder="Answer 1" id="question-1">
                            <div class="input-group-text">
                                <input class="form-check-input" type="radio" value="Q1" name="correct-choice1"
                                    aria-label="Radio button for following text input">
                            </div>
                        </div>
            
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Answer 2" id="question-2">
                            <div class="input-group-text">
                                <input class="form-check-input" type="radio" value="Q2" name="correct-choice1"
                                    aria-label="Radio button for following text input">
                            </div>
                        </div>
            
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Answer 3" id="question-3">
            
                            <div class="input-group-text">
                                <input class="form-check-input" type="radio" value="Q3" name="correct-choice1"
                                    aria-label="Radio button for following text input">
                            </div>
                        </div>
            
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Answer 4" id="question-4">
                            <div class="input-group-text">
                                <input class="form-check-input" type="radio" value="Q4" name="correct-choice1"
                                    aria-label="Radio button for following text input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="submit row g-3">
                <div class="col">
                    <button class="btn btn-success" id="add-question" type="button">Add Question</button>
                    <button class="btn btn-danger" id="remove-question" type="button">Remove Question</button>
                </div>
                <div class="col" style="display: flex; justify-content: flex-end;">
                    <button class="btn btn-Primary" id="submit-form">Submit</button>
                </div>
            </div>
        </form>

    </div>
    
    <%-include('./partials/scripts.ejs') %> 
    <script src="/js/create-game.js"></script>
</body>
</html>