<html lang="en">
<head>
    <%-include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/host.css"> 
</head>
<body>
    <%-include('./partials/nav.ejs') %> 

    <div class="title">

    </div>
    
    <div class="container">
        <div class="all-players">

        </div>
    </div>

    <%-include('./partials/scripts.ejs') %> 
    <script src="/js/host.js"></script>
</body>
</html>