<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%-include('./partials/nav.ejs') %>

        <div class="fax-container">
            <div class="topic">
                <h1 class="title">About</h1>
                <p>Scuffed Hoot is a project in which I attempt to recreate the popular school game "Kahoot." 
                    My name is Steve Flores, I am 20 years old, attend Victor Valley Community College and major in computer Science.
                    I personally love technology and have always had an itch on how things work. Learning how to code 
                    has probably been one of the best decisions for me, not only can I create weird silly projects but I'm
                    constantly learning about new things in technology.
                </p>
            </div>
            <div class="topic">
                <h1 class="title">Facts</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="topic">
                <h1 class="title">Contact Info</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>



        <%-include('./partials/scripts.ejs') %> 
</body>

</html>