<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/join-game.css">
</head>

<body>
    <%-include('./partials/nav.ejs') %>
        <div class="game-controller">

            <div class="game-nav">

            </div>

            <div class="game-body">
                    <h2 class="text-style upper-message">You're in!</h2>
                    <p class="text-style lower-message">See your nickname on screen?</p>
            </div>

            <footer class="game-footer">
                <div class="footer-container">
                    <nav class="name">
                        <!-- js will replace this information -->
                        <div class="name-container">

                        </div>
                    </nav>
                    <div class="score">

                    </div>
                </div>
            </footer>
        </div>
        
        <div class="main">
            <section class="container">
                <div class="vertical-container">
                    <div>
                        <div class="error">

                        </div>
                        <div class="title">
                            <h1>ScuffedHoot!</h1>
                        </div>
                        <div class="input-field">
                            <input id="Name" class="input-box" type="text" placeholder="Name">
                            <input id="Game-Pin" class="input-box" type="input-box" placeholder="Game PIN">
                            <button type="button" class="submit-button">Enter</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <%-include('./partials/scripts.ejs') %>
            <script src="/js/join-game.js"></script>
</body>

</html>