body{
    color: white;
    animation: 14s ease-in-out infinite color-change;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: color-change;
    background-color: rgb(69, 163, 229);
}

.top-info{
    padding: 40px 0;
    background-color: rgba(73, 73, 73, 0.685);
}

.display-game-info{
    border-radius: 15px;
    background-color: rgba(46, 54, 54, 0.87);
    margin: 0 25%;
    text-align: center;
    padding: 15px;
}

.toggle-audio{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    margin-right: 25px;
}

.lobby-container{
    background-color:  rgba(0, 0, 0, 0);
}

.stats{
    display:flex;
    flex: 0 0 auto;
    padding: 2.5vmin;
    align-items: flex-start;
}
.qrst{
    width: 33%;
}
.players-in-lobby{
    display: flex;
    justify-content: flex-start;
}
.players-in-lobby div{
    background-color: rgba(93, 93, 93, 0.418);
    padding: 10px;
    border-radius: 10px;
}
.title{
    display: flex;
    align-items: center;
    text-decoration: underline;
}
.title h1{
    background-color: rgba(93, 93, 93, 0.418);
    margin: 0 auto;
    border-radius: 10px;
    padding: 15px 25px;
    text-align: center;
}
.start-button{
    display: flex;
    justify-content: flex-end;
}
.start-button button{
    color:rgb(27, 27, 27);
    background-color: rgb(76, 82, 85);
    padding: 5px 10px;
    border-radius: 5px;
}

/* .stats div{
    margin: auto;
} */

.show-players{
    margin-top: 45px;
    display: flex;
    flex-direction: row;
}
.players{
    list-style: none;
    display:flex;
    flex: 0 0 auto;
    width: 80%;
    margin:auto;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}
.players li{
    font-family: Arial, Helvetica, sans-serif;
    animation: 1s ease 0s 1 normal none running pop-in;
    background-color: rgba(93, 93, 93, 0.418);
    margin: 2vmin 1vmin;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 30px;
}
.players button{
    color: white;
    background:none;
    border:none;
}


@keyframes color-change{
    25% {
        background: rgb(65, 196, 222);
    }

    50% {
        background: rgb(140, 199, 63);
    }

    75% {
        background: rgb(243, 211, 51);
    }

    100% {
        background: rgb(247, 142, 86);
    } 
}

.players button:hover{
    text-decoration: line-through;
}



.game-controller{
    display: none;
    flex-direction: column;
    height: 90%;
}

.game-body{
    display: flex;
    height: 100%;
}

.question-display{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 99%;
}

.top-half{
    display: flex;
    padding: 25px;
    text-align: center;

    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 1rem 1rem 0px;
    width: auto;

    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 60%
}
/* .top-half p{
} */
.timer-wrapper{
    display: flex;
    justify-content: center;
    width: 20%;
}
.timer{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: initial;
    background-color: rgb(94, 49, 138);
    color: rgb(220, 219, 216);
    font-size: 2.5rem;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
}
.timer p{
    align-items: center;
    margin-bottom: 3px;
}

.ask-question{
    width: 60%;
    display: flex;
    justify-content: center;
}

.right-side{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}
.skip-div{
    height: 45%;
    display: flex;
    justify-content: flex-end;
}
.responses{
    height: 55%;
}
.cstm-btn{

    border-color: initial;
    box-shadow: rgb(0 0 0 / 25%) 0px -4px inset;
    background-image: initial;
    background-color: rgb(14, 79, 157);
    color: rgb(220, 219, 216);
    text-decoration-color: initial;

    width: initial;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    box-shadow: rgb(0 0 0 / 25%) 0px -4px inset;
    background: rgb(19, 104, 206);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    min-width: 48px;
    min-height: 48px;
    padding: 0px 16px 4px;
    position: relative;
    line-height: 0.875rem;
    height: 10px;
}

.question-choices{
    display: flex;
    flex: 4 1 0%;
    flex-wrap: wrap;
    height: 100%;
    align-content: center;
    justify-content: center;
    z-index: 1;
}
.question{
    position: relative;
    overflow: visible;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    height: 50%;
    width: 50%;
    padding: 0.3125rem;
    box-shadow: rgb(0 0 0 / 15%) 0px -0.25rem 0px 0px inset;
    box-sizing: border-box;
    cursor: auto;
}

.question-box{
    position: relative;
    overflow: visible;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    height: 40%;
    width: 49%;
    padding: 0.3125rem;
    box-shadow: rgb(0 0 0 / 15%) 0px -0.25rem 0px 0px inset;
    box-sizing: border-box;
    cursor: auto;
    border-radius: 4px;
    min-height: 2.25rem;
    max-width: 100%;
    margin:3px;

    display: flex;
    justify-content: center;
    justify-content: start;
    padding-left: 20px;
}
.question-1{
    color: rgb(220, 219, 216);
    fill: rgb(220, 219, 216);
    background-color: rgb(172, 21, 46);
}
.question-2{
    color: rgb(220, 219, 216);
    fill: rgb(220, 219, 216);
    background-color: rgb(14, 79, 157);
}
.question-3{
    color: rgb(220, 219, 216);
    fill: rgb(220, 219, 216);
    background-color: rgb(164, 120, 0);
}
.question-4{
    color: rgb(220, 219, 216);
    fill: rgb(220, 219, 216);
    background-color: rgb(28, 105, 10);
}


.game-footer{
    border-top:solid 1px;
    display: flex;
    padding: 0.75rem 20px;
    border-top-color: rgb(49, 53, 55);
    background-color: rgb(23, 25, 26);
    color: rgb(190, 185, 179);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6%;
    font-size: larger;
    font-weight: 700;
    
}
.question-count{
    width: 50%;
    position: relative;

}
.room-code{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.bottom-half{
display: grid;
height: 40%;
}

.text-style{
    font-weight: 700;
    font-size: x-large;
}

.results-display{
    justify-content: center;
    flex-direction: column;
}

.counter-display{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-top: 250px;
    padding: 8px;
}
.T1{
    text-align: center;
}
.T2{
    font-size:x-large;
    text-align: center;
}
.results{
    display: none;
}
.results-display h2{
    text-align: center;
    padding: 20px 0;
    background-color: rgb(23, 25, 26);
    border-bottom: solid 1px;
    border-bottom-color: rgb(49, 53, 55);
}
.S1{
    display: flex;
    justify-content: flex-start;
}
.S2{
    display: flex;
    justify-content: flex-end;
}
.scoreboard{
    margin: 150px auto ;
    width: 95%;
}
.scoreboard-player{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    background-color: rgb(23, 25, 26);
    color: rgb(190, 185, 179);
    margin: 0 0 20px 0;

}
.scoreboard-player p{
    margin: 0;
    width: 50%
}
/* animation: 1s ease 0s 1 normal none running essOoI;
animation-duration: 1s;
animation-timing-function: ease;
animation-delay: 0s;
animation-iteration-count: 1;
animation-direction: normal;
animation-fill-mode: none;
animation-play-state: running;
animation-name: essOoI; */


@keyframes pop-in{ 
    0% {
    transform: scale(1);
    }
    25% {
        transform: scale(2);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fade-out{
    0%{
        opacity: 100%;
    }
    25%{
        opacity: 80%;
    }
    50%{
        opacity: 60%;
    }
    75%{
        opacity: 50%;
    }
    100%{
        opacity: 40%;
    }
}